<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Standard Analytics IO weblog">

    <title>Standard Analytics IO weblog</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/layouts/blog.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/lib/highlight/styles/xcode.css">
    <script src="/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>    

  </head>

  <body>


    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title">Standard Analytics</h1>
            <h2 class="brand-tagline">The science you want in the format you need</h2>
          </hgroup>

          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class="pure-button" href="http://standardanalytics.io">RESTful Science</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="pure-u-1">
        <div class="content">

