<% include head %>

<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>

  <% getPosts().forEach(function(post,i){ %>
  
  <% include post_snippet %>
  
  <% }) %>

</div>

<% include foot %>
