blockquote {
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}

.post-header h2 a{
  color: #222;
}

.post-header h2 a:hover{
  text-decoration: none;
}

pre code {
  line-height:1em;
  font-size: 90%;
}

.twitter-share-button {
  vertical-align: middle;
}

.hn-button{
  vertical-align: middle;
}

.l-box {
  line-height:1em;
  padding: 1em;
}

#obesity a {
  color: #36648B;
  text-decoration: none;
}
#obesity a:hover {
  text-decoration: underline;
}

#obesity .html-tag{
 color: rgb(34, 239, 103);
}

#obesity .rdfa-tag{
 color: rgb(255, 103, 0);
}

#obesity .is-based-on-url{
  color: #36648B;
 /* color: rgb(13, 188, 55); */
}

#obesity-json {
  line-height:1em;
  padding: 1em;
}

#obesity-json .stats{
/*  font-weight:bold; */
/* color: rgb(239, 58, 171); */
}

#obesity-R .stats{
/*  font-weight:bold;*/
/* color: rgb(239, 58, 171); */
}
