blockquote {
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}

.post-header h2 a{
  color: #222;
}

.post-header h2 a:hover{
  text-decoration: none;
}

pre code {
  line-height:1em;
  font-size: 90%;
}

.twitter-share-button {
  vertical-align: middle;
}